# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\trautrim\Nextcloud\Carleton\SYSC 3110 A\labs\Lab3b\SYSC_3110\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
